<!-- footer -->
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row text-white g-4">

            <div class="col-md-6 col-lg-4 "> 
                <h5 class="fw-light">Links</h5>
                <ul class="list-unstyled">
                    <li class="my-3">
                        <a href="{% url 'home'  %}#header" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> Home
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="{% url 'home'  %}#collection" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> Products
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="{% url 'home'  %}#about" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> About us
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="{% url 'home'  %}#special" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> Special
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="{% url 'home'  %}#sale" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> On Sale
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="{% url 'home'  %}#feedback" class="text-white text-decoration-none text-muted">
                            <i class="fas fa-chevron-right me-1"></i> Feedback
                        </a>
                    </li>
                </ul>
            </div> 

            <div class="col-md-6 col-lg-4">
                <h5 class="fw-light mb-3">Contact Us</h5>
                <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class="me-3">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <span class="fw-light">
                        Trinity Institute of Professional studies, Dwarka sector-9, New Delhi
                    </span>
                </div>
                <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class="me-3">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="fw-light">
                        lovish.grover.007@gmail.com
                    </span>
                </div>
                <div class="d-flex justify-content-start align-items-start my-2 text-muted">
                    <span class="me-3">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span class="fw-light">
                        +918287411373
                    </span>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <h5 class="fw-light mb-3">Follow Us</h5>
                <div>
                    <ul class="list-unstyled d-flex">
                        <li>
                            <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {% comment %} <div class="col-md-6 col-lg-2">
                <!-- <a class="text-uppercase text-decoration-none brand text-white" href="index.html">Attire</a> -->
                <img src="/static/images/my image.png" alt="my image" width="180" class="mx-auto d-block" style="border-radius: 50%; border: 5px solid #e5345b;;">
                <p class="text-white fw-bold fs-3 text-center mt-2">Lovish Grover <br> <span class="text-white fs-5 fw-normal text-muted text-center">CEO, Founder</span> </p>
            </div> {% endcomment %}
        </div>
    </div>
</footer>
<!-- end of footer -->